/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6dcab1, #edf7f2);
    font-size: 16px;
}

/* Login Box Container */
.login-box {
    background-color: rgba(29, 252, 66, 0.15);
    padding: 3rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(228, 18, 18, 0.37);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease;
}

.login-box:hover {
    transform: translateY(-10px);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: rgba(255,255,255,0.25);
    color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-container input::placeholder {
    color: #e3ffff;
}

.input-container input:focus {
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 10px 3px rgba(255,255,255,0.5);
}

/* Login Button */
.login-btn {
    padding: 15px;
    background-color: #4900bf;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-btn:hover {
    background-color: #008080;
    box-shadow: 0 0 15px 3px rgba(0, 191, 165, 0.7);
}

/* Options (Label and Links) */
.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
}

.options label, .options a {
    cursor: pointer;
}

.options a {
    color: #030e0b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.options a:hover {
    color: #ffffff;
}

/* Paragraph Link Styling */
p {
    color: #020a0a;
}

p a {
    color: #292b2a;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #ffffff;
}

/* Heading Styles */
h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Background Image (if applicable) */
body {
    background: url("../img/imagen_fondo.jpg");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 200px;
    margin-top: 50px;
}

/* Carousel Styling */
.carousel.slide {
    width: 100%;
    height: auto;
}
.descripcion{
    margin-top: 100px;
    color: blue;
}